<div class="game-card">
  <div class="game-card__ribbon" *ngIf="game.highlightedCategory">
    <div class="game-card__ribbon--text-container">
      <div class="text-label">
        {{game.highlightedCategory}}
      </div>
    </div>
  </div>
  <div class="game-card__container"
       [style.background-image]="'url(' + game.image + ')'">
    <div class="game-card__container--jackpot" *ngIf="game.jackpot">
      {{game.jackpot | currency: 'GBP'}}
    </div>
    <div class="game-card__container--play">
      <img src="./assets/icons/play-button.svg" [alt]="game.name"/>
      <div class="game-title">{{game.name}}</div>
    </div>
  </div>
</div>
